.buttonContainerStyles {
  display: 'flex';
  justify-content: 'flex-end';
  flex: '0 0 auto';
  margin-top: '-60px';
  margin-right: '0px'
};

@media (max-width: 768px) {
    .buttonContainer {
      justify-content: center;
      margin-top: 16px;
      margin-right: 0;
      padding: 16px 0;
    }
};


/* Text Container Styles */
.textContainerStyles {
  flex: '1';
};

/* Button Hover and Active Styles */
.buttonHoverStyles {
  box-shadow: '0 6px 20px rgba(0, 0, 0, 0.2)';
  transform: 'translateY(-2px)';
};

/* // Button Active Click Styles */
.buttonActiveStyles {
  transform: 'translateY(1px)';
  box-shadow: '0 2px 14px rgba(0, 0, 0, 0.2)';
};

.headingStyles {
  margin-top: 0;
  margin-bottom: 64;
  max-width: 620;
};

.paragraphStyles {
  font-size: 18;
  margin-bottom: 48;
  margin-top: '-30px';
};

.codeStyles {
  color: "#8A6534";
  padding: 4;
  background-color: "#FFF4DB";
  font-size: "1.25rem";
  border-radius: 4;
};

.listStyles {
  margin-bottom: 96;
  padding-left: 0;
};

.doclistStyles {
  padding-left: 0;
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-between';
  list-style-type: "none";
  margin-bottom: 24;
  margin-right: 400;
};

.listItemStyles {
  font-weight: 300;
  font-size: 24;
  max-width: 560;
  margin-bottom: 30;
}

.linkStyle {
  color: "#8954A8";
  font-weight: "bold";
  font-size: 16;
  vertical-align: "5%";
  text-decoration: 'none'
}

.headerLinkStyle {
  color: "#8954A8";
  font-weight: "bold";
  font-size: 18;
  vertical-align: "5%";
  text-decoration: 'none'
}

.purpleLinkStyle {
  color: "#8954A8";
  font-weight: "bold";
  text-decoration: 'none'
}

.yellowLinkStyle {
  color: "yellow";
  font-weight: "bold";
  text-decoration: 'none'
}
.redLinkStyle {
  color: "red";
  font-weight: "bold";
  text-decoration: 'none'
}
.greenLinkStyle {
  color: "green";
  font-weight: "bold";
  text-decoration: 'none'
}
.blueLinkStyle {
  color: "blue";
  font-weight: "bold";
  text-decoration: 'none'
}
.brownLinkStyle {
  color: "brown";
  font-weight: "bold";
  text-decoration: 'none'
}
.docLink {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 24px;
    margin-right: 12px;
}

.badge {
    color: #fff;
    background-color: #088413;
    border: 1px solid #088413;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 4px 6px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 10px;
    line-height: 1;
}
